footer {
    background-color: #6d6767;
    color: white;
    padding: 20px 0;

    .container {
        text-align: center;

        h3 {
            margin-bottom: 10px;
        }

        p {
            margin: 5px 0;
        }
    }
}